
@{
    ViewBag.Title = "bloqueMultiple";
}

<h2>bloqueMultiple</h2>

@{
    var num1 = 100;
    var num2 = 200;
    var num3 = num1 + num2;
    string message = "Bienvenido, Ejemplo de bloque multiple";
}

<label> la suma de @num1 y de @num2 es = @num3</label>
<br />
<label>@message</label>