
@{
    ViewBag.Title = "Condiciones";

}

@{
    var mensaje = "";
    var User = "admin";
    if(User == "admin")
    {
        mensaje = "Administrador del sistema";
    }
    else
    {
        mensaje = "gestor";
    }
}
<h2>condiciones</h2>
<p>Bienvenidos</p>