
@{
    ViewBag.Title = "Index";
}

    <h2>Index</h2>
    
    <div>
        <label>Fecha actual : @DateTime.Now.ToString();</label>
        <br />
        <label>Fecha larga actual : @DateTime.Now.ToLongDateString</label>
        <label>Adicion de numeros: @(250 +250);</label>
    </div>
